<div class="container">
    <div class="form-group">
        <label for="selectorIdioma">Idioma</label>
        <div ngbDropdown id="selectorIdioma">
            <button class="btn" id="dropdownBasic" ngbDropdownToggle>{{ idiomaSeleccionado || "Selecciona el idioma"
                }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                <div *ngFor="let perfil of lstPerfiles;">
                    <button ngbDropdownItem id="option"
                        on-click="perfilSeleccionado=perfil; procesarSeleccionPerfil();">{{perfil.idioma.nombre}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="perfilSeleccionado">

        <div class="form-group">
            <label for="perfilNombre">Nombre</label>
            <input type="text" class="form-control" id="perfilNombre" placeholder="Nombre"
                [(ngModel)]="perfilSeleccionado.nombre">
        </div>

        <div class="form-group">
            <label for="perfilProfesion">Profesion</label>
            <input type="text" class="form-control" id="perfilProfesion" placeholder="Profesion"
                [(ngModel)]="perfilSeleccionado.profesion">
        </div>

        <div class="form-group">
            <label for="perfilPerfilProfesional">Perfil Profesional</label>
            <angular-editor id="perfilPerfilProfesional" [(ngModel)]="perfilSeleccionado.perfilProfesional"
                [config]="config"></angular-editor>
        </div>

        <div class="form-group">
            <label for="perfilPerfilPersonal">Perfil Personal</label>
            <angular-editor id="perfilPerfilPersonal" [(ngModel)]="perfilSeleccionado.perfilPersonal" [config]="config">
            </angular-editor>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    Orden
                </div>
                <div class="col-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        (change)="ordenar('nombre')">
                        <label class="form-check-label" for="inlineRadio1">Nombre</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        (change)="ordenar('nivel')">
                        <label class="form-check-label" for="inlineRadio2">Nivel</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        (change)="ordenar('tipoNivel')">
                        <label class="form-check-label" for="inlineRadio3">Tipo/Nivel</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-6 col-lg-4 col-xl-3 mb-2"
                    *ngFor="let conocimiento of perfilSeleccionado.conocimientos; let i = index">
                    <div class="card card-hover" (click)="openModalModificarConocimiento(conocimiento)">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <small><strong>{{conocimiento.nombre}}</strong></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <small><strong>Nivel:</strong></small>
                                </div>
                                <div class="col-7">
                                    <small>{{conocimiento.nivel}}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <small><strong>Tipo:</strong></small>
                                </div>
                                <div class="col-7">
                                    <small>{{conocimiento.tipo.nombre}}</small>
                                </div>
                            </div>
                            <span *ngFor="let categoria of conocimiento.categorias"
                                class="badge badge-small badge-pill badge-info">{{categoria.nombre}}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-12 col-lg-6" *ngFor="let proyecto of perfilSeleccionado.proyectos; let i = index">
                    <div class="card card-hover">
                        <h5 class="card-header">{{proyecto.nombre}}</h5>
                        <div class="card-body">
                            <p class="card-text">
                                <small>{{proyecto.descripcion}}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="perfilEstado" [(ngModel)]="perfilSeleccionado.estado">
            <label class="form-check-label" for="perfilEstado">Estado</label>
        </div>

        <div class="form-group">
            <div class="row">
                <button type="button" class="btn btn-primary" (click)="guardarCambiosPerfil()">Guardar</button>
            </div>
        </div>
    </div>
</div>