<div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Administrar conocimiento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="conocimientoNombre">Nombre</label>
        <input type="text" class="form-control" id="conocimientoNombre" placeholder="Nombre"
            [(ngModel)]="conocimiento.nombre">
    </div>

    <div class="form-group">
        <label for="conocimientoNivel">Nivel</label>
        <input type="number" min="0" max="100" class="form-control" id="conocimientoNivel" placeholder="Nivel"
            [(ngModel)]="conocimiento.nivel">
    </div>

    <div class="form-group">
        <label for="conocimientoDescripcion">Descripcion</label>
        <input type="text" class="form-control" id="conocimientoDescripcion" placeholder="Descripcion"
            [(ngModel)]="conocimiento.descripcion">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="conocimientoTipo">Tipo</label>
        </div>
        <select class="form-select" id="conocimientoTipo" [(ngModel)]="conocimiento.tipo">
            <option disabled selected>Seleccionar...</option>
            <option *ngFor="let tipo of tiposConocimiento" [value]="tipo">{{tipo.nombre}}</option>
        </select>
    </div>

    <div>
        <div class="form-check" *ngFor="let categoria of categoriasConocimiento">
            <input class="form-check-input" type="checkbox" [value]="categoria" id="defaultCheck{{categoria.id}}"
                (change)="onChangeCategoria(categoria, $event.target.checked)" [(ngModel)]="categoria.isChecked">
            <label class="form-check-label" for="defaultCheck{{categoria.id}}">
                {{categoria.nombre}}
            </label>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="guardarConocimiento()">Guardar</button>
</div>