<div id="wrapper" class="d-flex" [ngClass]="toggleSidebar ? 'toggled' : ''">
  <!-- Sidebar-->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">PANEL DE CONTROL</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action" routerLink="./" skipLocationChange>INICIO</a>
      <a class="list-group-item list-group-item-action" routerLink="./admin-perfil" skipLocationChange>PERFIL</a>
      <a class="list-group-item list-group-item-action" routerLink="./admin-usuarios"
      skipLocationChange>USUARIOS</a>
      <a class="list-group-item list-group-item-action" routerLink="./herramientas"
      skipLocationChange>HERRAMIENTAS</a>
    </div>
  </div>
  <!-- Page Content-->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="btn" id="portal-menu-toggle" (click)="toggleSidebarEvent()">
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-angle-right"></i>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#portalNavbarSupportedContent"
        aria-controls="portalNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="portalNavbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="" data-bs-toggle="modal" data-bs-target="#notificacionModal">
              <i class="fas fa-bell"></i> {{notificationsCount}}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="portalNavbarDropdown" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user"></i> {{user.name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="" (click)="refreshUser()" skipLocationChange><i class="fas fa-sync"></i> Actualizar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="" (click)="logout()" skipLocationChange>
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="notificacionModal" tabindex="-1" aria-labelledby="notificacionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificacionModalLabel">Notificaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          @for (notification of user.notifications; track notification; let i = $index) {
            @if (!notification.read) {
              <div>
                <div class="row">
                  <div class="col-10"><strong>{{i + 1}} - {{notification.title}} ({{notification.date}})</strong></div>
                  <div class="col-2"><a (click)="setReadNotification(notification.id)"><i
                  class="fas fa-eye-slash"></i></a></div>
                  <div class="col-12">{{notification.detail}}</div>
                </div>
                <hr>
                </div>
              }
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
