@keyframes opacityInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

.navbar-toggler {
    border-color: rgba(223, 228, 234,1.0);
}     

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 228, 234, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse.collapse.show {
    background-color: rgba(12, 36, 97,1.0) !important;
}

.navbar-brand img {
    width: 20%;
}

.navbar {
    background-color: transparent !important;
}

.navbar .nav-item .nav-link {
    color: #f1f2f6;
    animation: 3s ease-out 0s 1 opacityInAnimation;
}

.navbar .nav-item .nav-link-dark {
    color:#6a89cc !important;
}