<app-menu></app-menu>

<div class="container">
    <!-- HEADER -->
    <header class="main-header">
        <div class="background-overlay text-white py-5">
            <div class="container">
                <div class="row d-flex h-100">
                    <div class="col-sm-6 text-center justify-content-center align-self-center">
                        <h1>
                            this is the title or a phrase relate to the product
                        </h1>
                        <p>Elit reiciendis aspernatur obcaecati accusantium corporis? Mollitia eius ratione excepturi.
                        </p>
                        <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                            Read More
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <img src="assets\img\product.jpg" class="img-fluid d-none d-sm-block">
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>