<div id="top"></div>

<header class="main-header">

    <div class="background-overlay text-white">
        <div class="container fill" style="padding-top: 70px; padding-bottom: 20px;">
            <div class="row h-100 fill align-self-center">
                <div class="col-sm-6 text-justify justify-content-center align-self-center">
                    <h1>
                        Luis Miguel Alvarez Alvarez
                    </h1>
                    <p>Soy un Desarrollador de software que vive actualmente en Medellín (Colombia) graduado como
                        Ingeniero de Sistemas y Computación en la <a class="text-white"
                            href="https://www.utp.edu.co/">Universidad Tecnológica de Pereira</a></p>
                    <p>Durante los últimos 6+ años he trabajado a través de diferentes áreas del desarrollo de software,
                        actualmente me desempeño como Desarrollador SOA para uno de los principales bancos de Colombia
                    </p>
                    <p>Gran parte de mi tiempo es ocupado investigando, diseñando y desarrollando</p>
                </div>
                <div class="col-sm-6">
                    <img src="assets\img\foto.jpg"
                        class="img-fluid img-thumbnail d-none d-sm-block align-self-center rounded-circle">
                </div>
            </div>
        </div>
    </div>
</header>


<app-menu></app-menu>

<!-- CONOCIMIENTOS -->
<section id="conocimientos" class="m5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="m-5">
                <h3>Conocimientos</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, quidem aspernatur? Officia
                    eligendi est odit iure nesciunt, nam, ducimus voluptas provident atque ullam laudantium. Commodi qui
                    sequi nemo magnam?
                </p>
            </div>
        </div>
    </div>
</section>




<!-- PROYECTOS -->
<section id="proyectos" class="text-center team">
    <div class="container p-5">
        <h1 class="text-center text-white">Proyectos</h1>
        <p class="text-white">
            Adipisicing unde eum odio aliquam dolor ad voluptas expedita consequuntur aperiam inventore eaque. Dolorum
            facilis aut eum a delectus. Fugit velit quas harum quisquam amet provident inventore. Repudiandae
            repudiandae delectus.
        </p>
        <div class="row">
            <!-- USER TEAM -->
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets\img\person.png" class="img-fluid rounded-circle w-50">
                        <h3>John Carter</h3>
                        <p>
                            Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam
                            mollitia eveniet!
                        </p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets\img\person.png" class="img-fluid rounded-circle w-50">
                        <h3>John Carter</h3>
                        <p>
                            Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam
                            mollitia eveniet!
                        </p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets\img\person.png" class="img-fluid rounded-circle w-50">
                        <h3>John Carter</h3>
                        <p>
                            Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam
                            mollitia eveniet!
                        </p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <img src="assets\img\person.png" class="img-fluid rounded-circle w-50">
                        <h3>John Carter</h3>
                        <p>
                            Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam
                            mollitia eveniet!
                        </p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- CONTACTO -->
<section id="contacto" class="m5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="m-5">
                <h3>Conocimientos</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, quidem aspernatur? Officia
                    eligendi est odit iure nesciunt, nam, ducimus voluptas provident atque ullam laudantium. Commodi qui
                    sequi nemo magnam? Aut?
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="p-12">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</section>



<footer>
    <div class="container p-3">
        <div class="row text-center text-white">
            <div class="col ml-auto">
                <p>Copyright &copy; 2020</p>
            </div>
        </div>
    </div>
</footer>